
.App {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  overflow-x: hidden;
  background-color: black;
  min-height: 100vh;
  /* background-color: rgb(255, 255, 255); */
}

h3 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 120vw;
  background-color: lightgoldenrodyellow;
  margin-bottom: 2%;
}

.magnifier {
  /* box-shadow: 2px 2px 2px 2px violet; */
  z-index: 2;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 20px;
}

.image {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 120vw;
  height: auto;
}

.wraper {
  z-index: 12;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-left: 8%;
  margin-bottom: 40%;
}

.subtitle1 {
  /* letter-spacing: 20px; */
  font-weight: lighter;
  font-size: 2em;
  color: white;
  /* text-decoration: underline; */
  padding: 0;
  display: flex;
  margin-left: 10%;
  justify-content: center;
  width: 40vw;
}

.subtitle2 {
  /* letter-spacing: 20px; */
  font-weight: lighter;
  font-size: 1.5em;
  color: white;
  /* text-decoration: underline; */
  padding: 0;
  display: flex;
  margin-left: 10%;
  justify-content: center;
  width: 35vw;
}

.animation {
  margin: 2%;
  background-color: thistle;
  border: 1px solid black;
  padding: 5%;
}